.coins{
   width: 90%;
   margin: 0 auto;
   border: 4px solid black;
   border-radius: 20px;
   padding: 6px;
}
.coins-title{
    text-align: center;
    color: green;
}
.coins-items{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: space-between;
     cursor: pointer;
}
.coins-items__element{
     width: 24%;
     height: 300px;
}
.coins-items__element:nth-child(n+5) {
   object-fit: none;
   height: 150px;

}
.clickable-money{
    margin-left: 43%;
    cursor: pointer;
    transition: all .5s;
    position: absolute;
   top: 620px;
}
.clickable-money:active{
    scale: 0.8;
}